---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  product: CollectionEntry<'produkty'>['data'];
}

const { product } = Astro.props;
---

<article class="flex flex-col">
  <div class="relative overflow-hidden">
    <a href={`/produkty/${product.slug}`} class="group block">
      <Image
        src={product.images[0]}
        alt={product.title}
        widths={[480, 768, 1024, 1440]}
        sizes="(min-width: 768px) 45vw, 100vw"
        loading="lazy"
        class="w-full h-auto object-cover transition-transform duration-500 group-hover:scale-105"
      />
      <div
        class="absolute left-[-10%] right-[-10%] top-[30%] bottom-[30%] pointer-events-none opacity-0 group-hover:opacity-80 transition-opacity duration-500 mix-blend-overlay kaz"
      ></div>
    </a>

    <span class="absolute bottom-2 left-2 text-3xl md:text-4xl drop-shadow-lg">
      {product.id}
    </span>
  </div>
  <div class="mt-2 flex items-end justify-between">
    <span class="mt-1 text-xs md:text-sm uppercase">
      {product.title}
    </span>
    <span class="text-xs md:text-sm">
      {product.price} Kč
    </span>
  </div>
</article>
