---
// původní interface a props
interface Product {
  id: number | string;
  slug: string;
  title: string;
  price: number | string;
  image: string;
}

interface Props {
  product: Product;
}

const { product } = Astro.props as Props;
const indexLabel = String(product.id).padStart(2, '0');
---

<div  class="block relative">
  <article class="flex flex-col">
    <div class="relative overflow-hidden">
      <a href={`/produkty/${product.slug}`} class="group block">
      <img
        src={product.image}
        alt={product.title}
        loading="lazy"
        class="w-full h-auto object-cover transition-transform duration-500 group-hover:scale-105"
      />
      <div
        class="absolute left-[-10%] right-[-10%] top-[30%] bottom-[30%] pointer-events-none opacity-0 group-hover:opacity-80 transition-opacity duration-500 mix-blend-overlay kaz"
      ></div>
    </a>

      <span class="absolute bottom-2 left-2 text-3xl md:text-4xl drop-shadow-lg">
        {indexLabel}
      </span>
    </div>
  <div class="mt-2">
    <!-- první řádek: číslo vlevo, cena vpravo -->
    <div class="flex items-end justify-between">
      <span class="mt-1 text-xs md:text-sm uppercase">
        {product.title}
      </span>
      <span class="text-xs md:text-sm">
        {product.price} Kč
      </span>
    </div>
  </div>
  </article>
</div>